# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.chunks/

# --- Данные и Модели (Критично для ML) ---
# Игнорируем тяжелые датасеты и файлы моделей
*.csv
*.xlsx
models/*.pkl
models/*.h5

# --- Настройки сред разработки (IDE) ---
.vscode/
.idea/
*.swp
*.swo

# --- Операционная система ---
.DS_Store
Thumbs.db

# --- Логи Оптуны и прочий мусор ---
*.log
.optuna/
.ipynb_checkpoints/